/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h1{
	/* color:#5A9B36; */
	font-size: 40px;
	color: black;

}
h3{
	/* color:#5A9B36; */
	color: black;


}
h4{
	/* color: #5A9B36; */
	color: black;
}
h6{
	color: #c83349;
}
p {
	color: black;
}
.container-about{
	text-align: center;
	margin:50px;
}

.container-about2{
	text-align: center;
	margin:50px;
}
.container-buy{
	margin:80px;
}
.container-t{
	margin:20px;
	margin-left: 60px;
}
.container-p{
	margin:20px;
	margin-left: 60px;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	font: 13px/100% Arial, Helvetica, sans-serif;
	color: #888;
	padding: 0;
	margin: 0;
}
a {
	color: #999;
	text-decoration: none;
}
a img {
	border: none;
}
#themify_frame {
	margin: 60px 0 0 0;
}
#topframe {
	border-bottom: 1px #efefef solid;
	border-color: rgba(0,0,0,.1);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.5);
	height: 59px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#topframe .wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#themify-logo {
	margin: 14px 0 0;
	float: left;
	display: block;
}
#themify-logo img {
	width: 100px;
}

#topframe .theme-wrap {
	float: left;
	margin: 17px 0 0 20px;
}
#topframe .label {
	font: 13px/100% Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
	margin-left: 25px;
	vertical-align: middle;
	display: inline-block;
	zoom:1;
	*display:inline;
}
#topframe select {
	min-width: 120px;
	vertical-align: middle;
	display: inline-block;
	zoom:1;
	*display:inline;
}
#topframe option {
	padding: 2px 5px;
}

.btn {
	background: #6eaf17;
	color: #fff;
	font: bold 11px/100% Arial, Helvetica, sans-serif;
	padding: 6px 15px;
	margin: 0 0 0 10px;
	color: #fff;
	text-transform: uppercase;
	display:inline-block;
	vertical-align: middle;
	zoom:1;
	*display:inline;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.btn:hover {
	background: green;
	color: #fff;
}


/* close button */
#topframe .close-frame {
	/* background: url(images/close-frame.png) no-repeat right bottom; */
	padding: 10px 19px 0 0;
	color: #999;
	font: 12px/100% Arial, Helvetica, sans-serif;
	position: absolute;
	top: 13px;
	right: 0;
}
#topframe .close-frame:hover {
	color: #ccc;
}

.intro-bg1{
	background: url("/assets/Zviko.jpg") no-repeat;
}
.intro-bg2{
	background: url("/assets/Courtney.jpg") no-repeat;
}
.intro-bg3{
	background: url("/assets/Max.jpg") no-repeat;
}
.intro-bg4{
	background: url("/assets/Vince.jpg") no-repeat;
}

.intro-title p{
	margin-bottom: 50px;
}
.single-intro{
	overflow: hidden;
}
.intro-img{
	width: 100%;
	height: 222px;
	background-size: cover;
	background-position: center;
	position: relative;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.intro-img:after{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(52, 82, 255, .8);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
}
.single-intro:hover .intro-img:after{
	opacity: 1;
}
.single-intro:hover
.intro-details{
	border-bottom: 4px solid #3452FF;
}
.intro-details{
	background: #fff none repeat scroll 0 0;
	border-radius: 4px;
	box-shadow: 0 2px 29px 0 rgba(15, 46, 64, 0.12);
	max-height: 210px;
	margin: -70px auto 30px;
	padding: 30px 25px;
	position: relative;
	width: 88%;
	overflow: hidden;
	border-bottom: 4px solid #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.intro-details h3{
	margin-top: 0;
}
.Container-RB{
	color: green;

}
.container-newb{
	color:green;
}
.text-center{
	margin-bottom: 100px;
	color: green;
}

*
{
    padding: 0;
    margin: 0;
}

#over
{
    position:absolute;
    width:100%;
    height:100%;
    text-align: center; /*handles the horizontal centering*/
}
/*handles the vertical centering*/
.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Centered
{
    display: inline-block;
    vertical-align: middle;
}
.bodystyle{
  background-color: #fff;
}
